@media only screen and (max-width: 800px) {
    .cardWrapper {
        height: 126vh;
        display: flex;
    }

    .JOBDcard {
        width: 95% !important;
        margin: 3% auto!important;
        height: 360px !important;
        padding: 0 !important;
    }

    .BigPopWrap {
        width: 100% !important;
    }

    .BigPop {
        margin: 0 !important;
        width: 100% !important;
        height: 124vh !important;
    }

    .LinkCard {
        text-align: center !important;
    }

    .JLink {
        width: 100% !important;
        text-align: center !important;
    }

    .PsudoButt {
        width: fit-content !important;
    }
}