@media only screen and (max-width: 812px) {
  .landingCard > h1 {
    font-size: 2rem;
    color: wheat;
    font-family: 'Stylish', sans-serif;
    text-align: center;
    text-shadow: #000 2px 2px;
    margin: 5%;
  }

  .landingCard :last-child {
    font-size: 1.5rem;
    margin-top: 2%;
  }

  .landingCard {
    height: auto;
  }

  .moon {
    width: 100%;
  }
}