

.MenuWrap {
  width: 100%;
  margin-bottom: 0.5%;
  background-color: #001f3f;
  position: fixed;
}

.AMBodyWrapper {
  width: 100%;
  background-color: rgb(161, 181, 202);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1% 0;
  margin-top: 2%;
}

.AMCardWrapper {
  width: 20%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  padding: 3% 1% 5% 1%;
  margin: 0% 0.5% 0.5% 0.5%;
  border-radius: 8px;
  background-color: wheat;
  border-top: 7px double #001f3f;
  border-bottom: 7px double #001f3f;
}

.AMCTitle {
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  color: #001f3f;
  margin: 0.5%;
}

.AMCText {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: #001f3f;
  margin: 0.5%;
  text-align: center;
  line-height: 1.1;
}

.AMCText2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: #001f3f;
  margin: 0.5%;
  line-height: 1.1;
}

.hexagon {
  position: relative;
  width: 120px;
  height: 69.28px;
  background-color: #001f3f;
  margin: 34.64px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 34.64px solid #001f3f;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 34.64px solid #001f3f;
}

.AMCard2Boday {
  padding: 2% 0;
  background-color: rgb(161, 181, 202);
  display: flex;
  width: 97%;
}

.AMCardWrapper2 {
  display: flex;
  padding: 0.5%;
  margin: 0 auto;
  width: 98%;
  justify-content: space-evenly;
  align-items: center;
  background-color: wheat;
  border-radius: 8px;
  border-top: 7px double #001f3f;
  border-bottom: 7px double #001f3f;
}

.AMCSubWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5%;
}

.Head {
  width: 13%;
  border-radius: 50%;
  height: 275px;
  margin: 2%;
}
