@media only screen and (max-width: 812px) {

    .AMWrap {
        /* overflow: hidden;
        height: 159vh; */
    }

    .SiteTitle {
        font-size: 1.6rem;
    }

    .SubNav {
        height: 9vh;
    }

    .SubNavBtn {
        font-size: 1.6rem;
        margin-bottom: 20%;
    }

    .AMBodyWrapper {
        flex-wrap: wrap;
    }

    .AMCardWrapper {
        width: 40%;
        height: 220px;
        margin: 1.5%;
        padding: 2.5%;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .AMCard2Boday {
        margin: 2.5%;
        height: auto;
        width: 92%;
    }

    .AMCTitle {
        text-align: center;
        margin: 1.5%;
        font-size: 1rem;
    }

    .Head {
        display: none;
    }

    .AMCText {
        font-size: 1rem;
        padding-top: 1%;
    }

    .AMCText2 {
        text-align: center;
        margin: 1.5%;
    }
}    