@media only screen and (max-width: 812px) {
    
    .ContactTitle {
        font-size: 1rem;
    }

    .PsudoButt {
        font-size: 1rem;
        margin: 2%;
    }

    .Btn {
        font-size: 1rem;
        margin: 2%;
    }

    .TransitionWrap {
        align-items: baseline;
        margin-top: 3%;
        height: 66.2vh;
    }

    .form-input {
        width: 100%;
    }

    .form-text {
        width: 100%;
    }
}