@media only screen and (max-width: 812px) {

    .SiteTitleWrap {
        align-items: baseline;
    }

    .SiteTitle {
        font-size: 1.6rem;
        padding: 0%;
        background-color: #001f3f;
        padding-bottom: 2%;
        width: 100%;
        text-align: center;
    }

    .STMButton {
        width: fit-content;
    }

    .wrapper {
       /* padding-top: 5%; */
       flex-direction: column-reverse; 
       position: initial;
    }

    .sidebar {
        padding: 0;
    }

    span {
        font-size: 1rem;
        text-decoration: underline;
    }
}