.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #001f3f;
  position: inherit;
  z-index: 2;
}

.stLinkWrap {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  position: inherit;
  z-index: 1;
  background-color: #001f3f;
  padding-right: 10%;
}

.stButtWrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.STMButton {
  z-index: 1;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: wheat;
  font-family: "Stylish", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1%;
  text-decoration: none;
  width: 18%;
  overflow: hidden;
}

.STMButton::after {
  content: "";
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.397);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translateX(-800%) rotate(35deg);
}

.STMButton:hover {
  cursor: pointer;
}

.STMButton:hover::after {
  transition: transform 1s ease-in-out;
  transform: translateX(800%) rotate(35deg);
}

.SiteTitleWrap {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 0;
  width: 100%;
  justify-content: center;
}

.SiteTitle {
  font-family: "Righteous", cursive;
  color: wheat;
  position: absolute;
  font-size: 2rem;
  margin: 0 auto;
  letter-spacing: 2px;
}

span {
  position: relative;
}

span::before,
span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff4136;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

span::before {
  top: 0;
  transform-origin: center right;
}

span:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

span::after {
  bottom: 0;
  transform-origin: center left;
}

span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.SubNav {
  width: 100%;
  background-color: #001f3f;
  display: flex;
  justify-content: space-around;
  padding: 1% 0;
}

.SubNavBtn {
  background-color: transparent;
  border-radius: 8px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: wheat;
  font-family: "Stylish", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5%;
  text-decoration: none;
  margin: 7%;
  animation: buttonPulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes buttonPulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.SubNavBtn:hover,
.SubNavBtn:focus {
  animation-name: unset;
}
