.JOBDcard {
    position: absolute;
    width: 40%;
    height: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3%;
    padding: 2%;
    background-color: wheat;
    border-radius: 8px;
    border-top: 7px double #001F3F;
    border-bottom: 7px double #001F3F;
    cursor: pointer;
}

.BigPopWrap {
    width: 50vw;
}

.BigPop {
    width: 43vw;
    height: 68vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
    padding: 2%;
    background-color: wheat;
    border-radius: 8px;
    border-top: 7px double #001F3F;
    border-bottom: 7px double #001F3F;
    cursor: pointer;
    z-index: 1;
}

@keyframes pop {
    0% {
      transform: scale( .0 );
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: scale( 1 );
    }
  }

  @keyframes shrink {
    0% {
      transform: scale( 1 );
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale( 0 );
      z-index: 1;
    }
  }