/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,114,117,0.6477941518404237) 23%, rgba(199,214,213,1) 100%);
}


.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in-out;
    position: absolute;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1500ms ease-in-out;
}

body {
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: absolute;
	/* font-size 16px; */
	font-size: 62.5%; /*16 x.625 = 10*/
}

/* End of CSS reset */

.page-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	position: relative;
	background-color: rgb(161, 181, 202);
}

.menu-wrap {
	width: 100%;
    height: 45px;
    margin-bottom: .5%;
    background-color: #001f3f;
    position: fixed;
    padding: 1%;
    z-index: 1;
}

.title {
	background-color: #001f3f;
	width: 100%;
	margin: 5% 0 2% 0;
	padding: 2% 0;
}

.title h1 {
	text-align: center;
	font-size: 2rem;
	color: wheat;
	font-family: "Righteous", cursive;
}


/* width */
::-webkit-scrollbar {
	width: 10px;
	
}
  
  /* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
    border-radius: 8px; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background: darkgrey;
}
  
@media only screen and (max-width: 812px) {
	.title h1 {
		font-size: 1.6rem;
		padding-top:14%;
	}
}